/* ITENS GLOBAIS/GERAIS DO SITE */
    /* Fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300&display=swap');
    /* Cores do site */

    :root {
    --rosa-escuro: #9C7184;
    --rosa-claro: #D97F81;
    --azul-escuro: #7392A6;
    --azul-claro:#478CA2;
    --preto: #272727;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .row{
    margin: 0;
    width: 100%;
  }

/*ESTILIZAÇÃO DO MENU DE NAVEGAÇÃO */
.menu{
    font-family: 'Poppins', sans-serif;
    background-color: #272727;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color:white;
    padding: 30px 0;
    text-align: center;
    width: 101%;
}
.logo-menu img{
    width:80px;
}
.main-menu ul{
    list-style: none;
}
.main-menu ul li{
    display: inline;
}
.main-menu ul li a{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px 0 50px;
    transition: 0.3s;
}
.main-menu ul li a:hover{
    color: var(--rosa-escuro);
}
    /* Botão de contato no menu */
.contato-link{
    background-color: var(--rosa-claro);
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    transition: all 0.3s;
    font-weight: 400;
}
.contato-link:hover{
    background-color: var(--rosa-escuro);
    text-decoration: none;
    color: white;
}

/* ESTILIZAÇÃO DO TOPO DO SITE */
.topo-site{
    background-color: var(--preto);
    color: white;
    padding: 50px 50px;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
}
    /* Heading line e texto de apresentação */
.apresentacao{
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}
.apresentacao h1{
    font-weight: 500;
    font-size: 85px;
    line-height: 105px;
    color: var(--azul-claro);
    margin:-20px 0 -30px 0;
}
.apresentacao h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 40px;
}
.apresentacao .experiencia_text{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-right: 250px;
}
    /* Botoes de ação do topo */
.buttons{
    margin-top: 20px;
}
.btn_contato-topo{
    background-color: var(--rosa-claro);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    transition: all 0.3s;
    border: solid 1px #D97F81;
}
.btn_cv{
    padding: 10px 20px;
    color: var(--rosa-claro);
    font-size: 18px;
    margin-left: 20px;
    border-radius: 50px;
    border: solid 1px #D97F81;
    transition: all 0.3s;
}
.btn_contato-topo:hover, .btn_cv:hover{
    background-color: var(--rosa-escuro);
    color: white;
    text-decoration: none;
    border: 1px solid var(--rosa-escuro);
}
    /* Minhas midias sociais */
.midias{
    margin-top: 40px;
}
.midias i{
    color: var(--preto);
    background-color: var(--rosa-escuro);
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    transition: all 0.3s;
}
.midias i:hover{
    background-color: var(--azul-claro);
}


/* ESTILIZAÇÃO DA SEÇÃO "SOBRE MIM" */
.minha-jornada{
    text-align: center;
    font-family: Poppins;
    margin-top: 80px;
}
.minha-jornada p{
    color: var(--azul-claro);
    font-size: 25px;
}
.minha-jornada h2{
    color: var(--preto);
    font-size: 50px;
    margin-top: -20px;
}
.minha-jornada .sobre-txt{
    color: var(--preto);
    font-size: 20px;
    padding: 0 50px;
    margin-top: 50px;
}
.experiencia-anos{
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.experiencia-anos .anos-trabalho p , .experiencia-anos .quant-projetos p{
    color: var(--preto);

}
.experiencia-anos .anos-trabalho, .experiencia-anos .quant-projetos{
    align-items: center;
    justify-content: center;
    
}
.experiencia-anos .anos-trabalho span, .experiencia-anos .quant-projetos span{
    color: var(--rosa-claro);
    font-weight: 900;
    font-size: 60px;
}

/* ESTILIZAÇÃO DA SEÇÃO "SSERVIÇOS" */
#servicos{
    font-family: Poppins;
    margin-top: 80px;
}
#servicos p{
    color: var(--azul-claro);
    font-size: 25px;
    margin-left: 6%;
}
#servicos h2{
    color: var(--preto);
    font-size: 50px;
    margin-top: -20px;
    margin-left: 6%;
}
#servicos .o-que-faco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
#servicos .o-que-faco .servico{
    background-color: #DFDFDF;
    text-align: center;
    margin: 40px;
    padding: 20px;
}
#servicos .o-que-faco .servico i{
    font-size: 90px;
    color: var(--rosa-escuro);
}
#servicos .o-que-faco .servico h3{
    color: var(--rosa-claro);
    font-size: 25px;
    margin: 30px 0;
}
#servicos .o-que-faco .servico p{
    color: var(--preto);
    font-size: 20px;
}

/* ESTILIZAÇÃO DA MELHOR PARTE, MEU PORTFÓLIO! */
#portfolio{
    background-image: url("../src/img/meus-projetos-fundo.jpg");
    padding: 50px 0;
    font-family: Poppins;
}
.projetos{
    text-align: center;
}
.projetos p{
    color: var(--azul-claro);
    font-size: 25px;
}
.projetos h2{
    color: var(--preto);
    font-size: 50px;
    margin-top: -20px;
}

.btn-portfolio{
    background-color: var(--rosa-escuro);
    padding: 8px 15px;
    font-size: 18px;
    color: white;
    border-radius: 50px;
    transition: 0.3s;
    margin-top: 40px;
}

.btn-portfolio:hover{
    background-color: var(--rosa-claro);
    text-decoration: none;
    color: white;
}

/* carousel */
.carousel{
    margin-left: 3%;
    margin-top: 10px;
    width: 100%;
}
/* .carousel .carousel-itens{
    
} */
.carousel .carousel-item{
    margin: 0 10px;
}
.carousel .carousel-indicators {
	top: auto;
    margin-top: 180px;
}


/* The colour of the indicators */
.carousel .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.carousel .carousel-indicators .active {
background: #707070;
}

/* ESTILIZAÇÃO DO FORMULÁRIO DE CONTATO */
.form-contato{
    font-family: Poppins;
    margin: 80px 0;
    text-align: center;
}
.form-contato h2{
    color: var(--rosa-claro);
    font-size: 50px;
    font-weight: 600;
}
.form-contato p{
    color: var(--preto);
    font-size: 25px;
    font-weight: 500;
}
.form-contato form{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-contato form .form-control{
    width:120%;
    border: 1px solid var(--preto);
    height: 50px;
    color: var(--preto);
    width: 450px;
}
.form-contato form .btn-enviar{
    background-color: var(--azul-claro);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 9px 50px;
    font-size: 20px;
    font-weight: 600;
    transition: ease 0.3s;
}
.form-contato form .btn-enviar:hover{
    background-color: var(--azul-escuro);
}


/* ESTILIZAÇÃO DO RODAPÉ / DIREITOS AUTORAIS */
.copyright{
    background-color: var(--preto);
    padding: 30px 0 10px 0;
    margin: 0;
}
.copyright p{
    font-family: Poppins;
    font-size: 16px;
    color: white;
    text-align: center;
}